<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>1boom04.png</key>
			<dict>
				<key>width</key>
				<integer>183</integer>
				<key>height</key>
				<integer>174</integer>
				<key>originalWidth</key>
				<integer>183</integer>
				<key>originalHeight</key>
				<integer>174</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>2boom04.png</key>
			<dict>
				<key>width</key>
				<integer>236</integer>
				<key>height</key>
				<integer>233</integer>
				<key>originalWidth</key>
				<integer>236</integer>
				<key>originalHeight</key>
				<integer>233</integer>
				<key>x</key>
				<integer>185</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>3boom04.png</key>
			<dict>
				<key>width</key>
				<integer>240</integer>
				<key>height</key>
				<integer>251</integer>
				<key>originalWidth</key>
				<integer>240</integer>
				<key>originalHeight</key>
				<integer>251</integer>
				<key>x</key>
				<integer>423</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>4boom04.png</key>
			<dict>
				<key>width</key>
				<integer>242</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>242</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>665</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>5boom04.png</key>
			<dict>
				<key>width</key>
				<integer>286</integer>
				<key>height</key>
				<integer>255</integer>
				<key>originalWidth</key>
				<integer>286</integer>
				<key>originalHeight</key>
				<integer>255</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>6boom04.png</key>
			<dict>
				<key>width</key>
				<integer>284</integer>
				<key>height</key>
				<integer>324</integer>
				<key>originalWidth</key>
				<integer>284</integer>
				<key>originalHeight</key>
				<integer>324</integer>
				<key>x</key>
				<integer>288</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>7boom04.png</key>
			<dict>
				<key>width</key>
				<integer>307</integer>
				<key>height</key>
				<integer>292</integer>
				<key>originalWidth</key>
				<integer>307</integer>
				<key>originalHeight</key>
				<integer>292</integer>
				<key>x</key>
				<integer>574</integer>
				<key>y</key>
				<integer>257</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>8boom04.png</key>
			<dict>
				<key>width</key>
				<integer>285</integer>
				<key>height</key>
				<integer>260</integer>
				<key>originalWidth</key>
				<integer>285</integer>
				<key>originalHeight</key>
				<integer>260</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>9boom04.png</key>
			<dict>
				<key>width</key>
				<integer>324</integer>
				<key>height</key>
				<integer>287</integer>
				<key>originalWidth</key>
				<integer>324</integer>
				<key>originalHeight</key>
				<integer>287</integer>
				<key>x</key>
				<integer>287</integer>
				<key>y</key>
				<integer>583</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>enemyboom0.png</string>
			<key>realTextureFileName</key>
			<string>enemyboom0.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>